<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysArticleMapper">
	<select id="selectIdPage" resultType="java.lang.Long">
		select id_ from sys_article
		<where>
            type_!='3'
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					type_ like CONCAT('%',#{cm.keyword},'%')
					or author_ like CONCAT('%',#{cm.keyword},'%')
					or title_ like CONCAT('%',#{cm.keyword},'%')
					or content_ like CONCAT('%',#{cm.keyword},'%')
					or out_url like CONCAT('%',#{cm.keyword},'%')
					or seo_keyword like CONCAT('%',#{cm.keyword},'%')
					or seo_description like CONCAT('%',#{cm.keyword},'%')
					or is_top like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>

    <select id="getArticleList" resultType="java.util.Map">
        SELECT
            id_         AS id,
            author_     AS author,
            title_      AS title,
            create_time AS createTime,
            out_url     AS outUrl
        FROM sys_article
        WHERE type_ = #{type}
    </select>

    <select id="getArticleDetail" resultType="java.util.Map">
        SELECT
            author_,
            title_,
            create_time,
            content_
        FROM sys_article
        WHERE id_ = #{id}
    </select>

    <update id="updateImg" parameterType="org.ibase4j.model.SysArticle">
        UPDATE sys_article
        SET out_url = #{outUrl}
        WHERE id_ = #{id};
    </update>
</mapper>
